.dark{
    background-color: rgb(41, 31, 31);
    color: white;
    #btn1{
        background-color: rgb(221, 41, 41);
        color:white;
    }

}

.light{
    background-color: white;
    color: black;
   #btn1{
        background-color: rgb(131, 112, 112);
        color:rgb(48, 39, 39);
    }
}